<!doctype html>
<html lang='en'>
<head>
	<!-- meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="device-width, initial-scale=1">
	
	<!-- bootstrap CSS -->
	<link href="https::/cdn.jsdeliver.net/npm/bootstrap@5.0.0-beta/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
		crossorigin="anonymous">
	
</head>

<body>

</body>
</html>
